body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  box-sizing: border-box;
  width: 1020px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
}

/* QUOTE */

.quote {
  height: 506px;
  background-color: #f06c64;
  color: #f0d8d9;
  padding-top: 74px;
  padding-bottom: 75px;
}

h2 {
  font-size: 30px;
  font-weight: 900;
  line-height: 18px;
  margin: 0;
}

.quote .container > p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: justify;
  padding: 9px 0;
}

.form-block {
  display: flex;
  justify-content: space-between;
  margin-top: 33px;
}

input {
  font-size: 12px;
  line-height: 21.56px;
  box-sizing: border-box;
  height: 40px;
  width: 620px;
  padding: 5px 0 5px 15px;
  margin-bottom: 15px;
  border: 1px solid #f06c64;
  border-radius: 5px;
  background-color: #d6564f;
}

::-webkit-input-placeholder {
  /* Chrome */
  color: #f48c8f;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #f48c8f;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #f48c8f;
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #f48c8f;
  opacity: 1;
}

textarea {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  width: 100%;
  height: 200px;
  padding: 5px 0px 0px 15px;
  box-sizing: border-box;
  border: 1px solid #f06c64;
  border-radius: 5px;
  background-color: #d6564f;
  margin-bottom: 15px;
}

.btn {
  color: #f0d8d9;
}

.form-info {
  width: 300px;
  text-align: justify;
}

.form-info > h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  white-space: nowrap;
}

.form-info > p {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding-top: 8px;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.contacts {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.contacts > img {
  margin-right: 12px;
}

/*-------*/

.line-quote {
  height: 5px;
  background-color: #ea676b;
  margin: 0 auto;
}

/* FOOTER */

footer {
  height: 80px;
  background-color: #2d303a;
  color: #4d5267;
}

.footer-block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright-block {
  font-size: 11px;
  font-weight: bold;
  color: #5b6179;
}

.social-ico {
  display: flex;
}

.social-ico > img {
  margin-left: 8px;
  border: 0.01px solid gray;
  border-radius: 50%;
}

.social-ico > img:hover {
  background: #ff0;
  cursor: pointer;
}

.line-footer {
  height: 5px;
  background-color: #000;
  margin: 0 auto;
}